<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <title>Document</title>
</head>
<body>
<div class="dashboard">
    <div class="table-container">
        <div class="actions-btn-container">
            <h2>Welcome <span style="color: blue" th:href="@{/users/{id}(id=${session.id})}"
                              th:text="${session.username}"></span></h2>
            <div class="action-buttons-holder">
                <button class="all-task-btn">All tasks</button>
                <button class="pending-task">pending tasks</button>
                <button class="completed-task">completed tasks</button>
                <input type="search" placeholder="filter task by title"/>
                <a th:href="@{/addTask}" class="btn btn-primary">Add new task</a>
                <!--           <a th:href="@{/addTask}"><button class="add-task" >Add new task</button></a>-->
            </div>
        </div>
        <div class="table-container">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Time created</th>
                    <th>Time updated</th>
                    <th>Time completed</th>
                    <th>Status</th>
                    <th>Change status</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="task : ${tasks}">
                    <td th:text="*{task.title}"></td>
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.getCreatedAt()}"></td>
                    <td th:text="${task.getUpdatedAt()}"></td>
                    <td th:text="${task.getCompletedAt()}"></td>
                    <td th:text="${task.getStatus()}"></td>
                 <td class="change_status">
                    <a th:href="@{/forward/{id}(id=${task.id})}" ><i class="fa-solid fa-forward"></i></a>
                     <a th:href="@{/backward/{id}(id=${task.id})}"><i class="fa-solid fa-backward"></i></a>
                     <a th:href="@{/done/{id}(id=${task.id})}"><i class="fa-solid fa-check"></i></a>
                 </td>
                  <td class="actions">
                    <a th:href="@{/task/delete/{id}(id=${task.id})}" th:if="${task.users.id} == ${session.id}" ><i class="fa-solid fa-trash delete-btn" ></i></a>
                   <a th:href="@{/task/edit/{id}(id=${task.id})}" th:if="${task.users.id} == ${session.id}"><i class="fa-solid fa-pen-to-square update-btn"  ></i> </a>
                       <a><i class="fa-solid fa-eye view-btn"></i></a>
                  </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
